<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value=".\\logs\\CurrentLog.Log" />
    <appendToFile value="true" />

    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="50000000" />
    <staticLogFileName value="true" />
    <!-- Alternatively, roll on date -->
    <!-- <rollingStyle value="Date" /> -->
    <!-- <datePattern value="yyyyMMdd" /> -->
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%thread] %-22.22c{1} - %m%n" />
    </layout>
  </appender>


  <!--  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender> -->

  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

	<!-- Email Error Reporting -->
	<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="ERROR"/>
		</evaluator>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<acceptOnMatch value="true" />
		</filter>
		<to value="sandra.greenhalgh@civica.co.uk" />
		<from value="cm.adaptor@civica.co.uk" />
		<subject value="CM Adaptor Error" />
		<smtpHost value="SVR-EMAIL-1.civica.root.local" />
		<password value ="" />
		<bufferSize value="512" />
		<lossy value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
		</layout>
	</appender>

  <!-- Set the default logging level and add the active appenders -->
  <root>
    <level value="DEBUG" />
    <appender-ref ref="LogFileAppender" />
    <!--    <appender-ref ref="ConsoleAppender" /> -->
    <appender-ref ref="RollingFileAppender" />
	<!--<appender-ref ref="SmtpAppender" />-->
  </root>

  <!-- Specify the level for specific categories (“namespace.class”)-->
  <logger name="ConsoleApp.LoggingExample">
    <level value="ERROR" />
    <appender-ref ref="EventLogAppender" />
  </logger>

</log4net>
