<div id="footer">

    <div class="row-fluid borBox well deep" id="contactFooter">
	    <div class="page-header inverse">
		    <h1>Never Land</h1>
	    </div>
		<h2 class='inverse'>&copy; Company NerverLand UK ltd 2013 (Contact Detail)</h2>
	</div>	
    
</div>