<!-- THE TOP NAVBAR -->
	<div id="topLink"></div>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
	      		</a>
				
				<div class="nav-collapse">
	        		<ul class="nav pull-left">
	        			
						<li class="smooth"><a href="#topLink" class="smooth">Home</a></li>
						<li><a href="#showcase" class="smooth">Showcase</a></li>
						<li><a href="#features" class="smooth">Features</a></li>
						<li><a href="#newElements" class="smooth">Elements</a></li>
						<li><a href="#contactFooter" class="snooth">Contact</a></li>
						
					</ul>
					<div class="pull-right">
						<a class="btn btn-info btn-small round2" data-toggle="modal" href="#myModal">
							<i class="icon-white icon-user"></i> Sign In
						</a>
					</div>
	      		</div>
				
			</div>
		</div>
	</div>
	<!-- SOCIAL MEDIA -->