<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-WebApp-20130705105330;Integrated Security=SSPI" 
       providerName="System.Data.SqlClient" />
  
  <!--<add name="SecurityConnection" 
       connectionString="Server=ASWVNWKS042;Database=BookStore_Security;User ID=sa;Password=12345678;MultipleActiveResultSets=true" 
       providerName="System.Data.SqlClient" />

  <add name="ProductConnection"
      connectionString="Server=ASWVNWKS042;Database=BookStore_Product;User ID=sa;Password=12345678;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
  
  <add name="SecurityConnection" 
       connectionString="Server=.\SQLEXPRESS;Database=BookStore_Security;User ID=sa;Password=123;MultipleActiveResultSets=true" 
       providerName="System.Data.SqlClient" />

  <add name="ProductConnection"
      connectionString="Server=.\SQLEXPRESS;Database=BookStore_Product;User ID=sa;Password=123;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />-->


  <!-- Product DB -->
  <add name="ProductConnection"
      connectionString="Server=d59d8914-4f75-43b6-b938-a22d00aa1850.sqlserver.sequelizer.com;Database=dbd59d89144f7543b6b938a22d00aa1850;User ID=vdaofjiiimnhjtka;Password=zKhymL6Wcb2UErGkKLjvAPc7z2ShYmEe5yCtwiMojnDmCHVd6uQSKdHSHj7t3W7Y;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />

  <!-- Security DB -->
  <add name="SecurityConnection"
      connectionString="Server=bad8dc5d-388a-4455-bd5e-a22d00aec7ff.sqlserver.sequelizer.com;Database=dbbad8dc5d388a4455bd5ea22d00aec7ff;User ID=muucuftlyzefeulv;Password=eNjDDUB2XSTnkstvpMQPSQoSFoTPZtGSPgpnLBuRu6qdAHqNJX8EhVgwyz6pbUaC;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />

</connectionStrings>