<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-WebApp-20130705105330;Integrated Security=SSPI" 
       providerName="System.Data.SqlClient" />
  
  <!--<add name="SecurityConnection" 
       connectionString="Server=ASWVNWKS042;Database=BookStore_Security;User ID=sa;Password=12345678;MultipleActiveResultSets=true" 
       providerName="System.Data.SqlClient" />

  <add name="ProductConnection"
      connectionString="Server=ASWVNWKS042;Database=BookStore_Product;User ID=sa;Password=12345678;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />-->
  
  <add name="SecurityConnection" 
       connectionString="Server=.\SQLEXPRESS;Database=BookStore_Security;User ID=sa;Password=123;MultipleActiveResultSets=true" 
       providerName="System.Data.SqlClient" />

  <add name="ProductConnection"
      connectionString="Server=.\SQLEXPRESS;Database=BookStore_Product;User ID=sa;Password=123;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />

</connectionStrings>