<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="Log4Net.config" />
  <connectionStrings configSource="ConnectionString.config"></connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>-->
  <system.serviceModel>
    <services>
      <!--<service behaviorConfiguration="CustomBehavior" name="Ojb.DomainServices.Library.ServiceImp.AccountService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customOverHttps" contract="Ojb.DomainServices.Contract.Services.IAccountService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>-->
      <service behaviorConfiguration="CustomBehavior" name="Ojb.DomainServices.Library.ServiceImp.ProductService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customOverHttps" contract="Ojb.DomainServices.Contract.Services.IProductService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Ojb.DomainServices.Library.ServiceImp.SecurityService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customOverHttps" contract="Ojb.DomainServices.Contract.Services.ISecurityService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="customOverHttps" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <textMessageEncoding>
            <readerQuotas maxArrayLength="5242880"/>
            <!--5MB * 1024 * 1024 -->
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomBehavior">
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100"
            maxConcurrentInstances="100" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>